fastapi
uvicorn[standard]
gunicorn
python-dotenv
sqlalchemy
psycopg2-binary
alembic
python-jose[cryptography]
passlib
PyJWT
python-multipart
elasticsearch>=7.14.0
fastapi_cors>=0.0.6
certifi>=2021.5.30
aiohttp>=3.8.0