@import "tailwindcss";

html {
    font-size: 14px;
}

::-webkit-scrollbar {
    width: 8px;
    transition: opacity 0.3s ease;
}
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}